body {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
img {
	border: 0px currentColor; border-image: none;
}
button {
	font-size: 100%;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
textarea {
	font-size: 100%;
}
ul {
	padding-left: 40px;
}
ol {
	padding-left: 40px;
}
.clear {
	clear: both;
}
.list-none {
	list-style: none; margin: 0px; padding: 0px;
}
.editor {
	color: rgb(51, 51, 51); line-height: 2;
}
.editor ul {
	margin: 0px; padding: 0px 0px 0px 25px;
}
.editor ol {
	margin: 0px; padding: 0px 0px 0px 25px;
}
.editor a {
	color: rgb(28, 87, 196); text-decoration: underline;
}
.button {
	font: 14px/100% Arial, Helvetica, sans-serif; margin: 0px 2px; padding: 0.5em 2em 0.55em; border-radius: 0.5em; text-align: center; text-decoration: none; vertical-align: baseline; display: inline-block; cursor: pointer; -ms-zoom: 1; font-size-adjust: none; font-stretch: normal; box-shadow: 0px 1px 2px rgba(0,0,0,0.2); text-shadow: 0px 1px 1px rgba(0,0,0,0.3); -webkit-border-radius: .5em; -moz-border-radius: .5em; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.button:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.button:active {
	top: 1px; position: relative;
}
.orange {
	background: rgb(247, 141, 29); border: 1px solid rgb(218, 124, 12); border-image: none; color: rgb(254, 244, 233);
}
.orange:hover {
	background: rgb(244, 124, 32);
}
.orange:active {
	color: rgb(252, 211, 165);
}
input.input-text {
	background: url("../images/dt-10.gif") repeat-x left top rgb(255, 255, 255); padding: 4px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; font-size: 15px; text-shadow: 0px 1px 0px #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -webkit-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; -o-transition: .3s ease-in-out;
}
input.input-file {
	background: url("../images/dt-10.gif") repeat-x left top rgb(255, 255, 255); padding: 4px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; font-size: 15px; text-shadow: 0px 1px 0px #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -webkit-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; -o-transition: .3s ease-in-out;
}
input.code {
	background: url("../images/dt-10.gif") repeat-x left top rgb(255, 255, 255); padding: 4px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; font-size: 15px; text-shadow: 0px 1px 0px #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -webkit-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; -o-transition: .3s ease-in-out;
}
textarea {
	background: url("../images/dt-10.gif") repeat-x left top rgb(255, 255, 255); padding: 4px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; font-size: 15px; text-shadow: 0px 1px 0px #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -webkit-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; -o-transition: .3s ease-in-out;
}
input.input-text:focus {
	border: 1px solid rgb(250, 250, 250); border-image: none; box-shadow: 0px 0px 5px #007eff; -webkit-box-shadow: 0px 0px 6px #007eff; -moz-box-shadow: 0px 0px 5px #007eff;
}
input.input-file:focus {
	border: 1px solid rgb(250, 250, 250); border-image: none; box-shadow: 0px 0px 5px #007eff; -webkit-box-shadow: 0px 0px 6px #007eff; -moz-box-shadow: 0px 0px 5px #007eff;
}
input.code:focus {
	border: 1px solid rgb(250, 250, 250); border-image: none; box-shadow: 0px 0px 5px #007eff; -webkit-box-shadow: 0px 0px 6px #007eff; -moz-box-shadow: 0px 0px 5px #007eff;
}
textarea:focus {
	border: 1px solid rgb(250, 250, 250); border-image: none; box-shadow: 0px 0px 5px #007eff; -webkit-box-shadow: 0px 0px 6px #007eff; -moz-box-shadow: 0px 0px 5px #007eff;
}
td.text {
	padding: 6px 5px 6px 0px; width: 20%; text-align: right; font-size: 14px; font-weight: bold;
}
td.input {
	padding: 6px 8px;
}
td.input input {
	margin-right: 8px;
}
td.input .info {
	color: rgb(255, 0, 0); padding-left: 15px;
}
td.input img {
	bottom: 1px; position: relative;
}
td.submint {
	padding: 10px;
}
.met_hits {
	padding: 0px 5px; height: 35px; text-align: right; color: rgb(102, 102, 102); line-height: 35px; margin-top: 10px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: dotted; position: relative;
}
.met_hits a {
	color: rgb(102, 102, 102);
}
.met_hits .metjiathis {
	left: 5px; top: 8px; position: absolute;
}
.met_page {
	text-align: center;
}
.met_page a {
	color: rgb(28, 87, 196); text-decoration: underline; margin-right: 50px;
}
#flip {
	margin-bottom: 15px;
}
.met_annex {
	color: rgb(255, 0, 0); text-decoration: underline;
}
.met_annex:hover {
	color: rgb(255, 0, 0); text-decoration: underline;
}
#showtext {
	padding: 15px; line-height: 2;
}
#newslist {
	padding: 15px 20px;
}
#newslist li {
	background: url("../images/dt-0.gif") no-repeat left 19px; padding: 6px 10px;
}
#newslist li a {
	font-size: 14px; margin-right: 5px;
}
#newslist li span {
	color: rgb(170, 170, 170); float: right;
}
#newslist li p {
	color: rgb(170, 170, 170);
}
#shownews {
	padding: 0px 15px 15px;
}
#shownews .editor {
	padding: 0px 10px; line-height: 2; font-size: 14px;
}
#shownews h1 {
	margin: 10px 0px; padding: 5px 0px; text-align: center; color: rgb(51, 51, 51); font-size: 20px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#productlist {
	padding: 15px 10px;
}
#productlist li {
	text-align: center; float: left; display: inline;
}
#productlist li a.img {
	text-align: center; font-size: 0px; display: block;
}
#productlist li a.img img {
	margin: auto; border: 1px solid rgb(204, 204, 204); border-image: none;
}
#productlist li h3 {
	padding: 5px 0px 10px; line-height: 1.5; font-weight: normal;
}
#showproduct {
	padding: 15px;
}
#showproduct h1.title {
	padding: 5px 0px; font-size: 18px; margin-bottom: 5px;
}
#showproduct .pshow dt {
	float: left;
}
#showproduct .pshow dd {
	float: right;
}
#showproduct .pshow dd ul {
	margin-left: 15px;
}
#showproduct .pshow dd li {
	margin: 5px 0px; padding: 5px 5px 5px 45px; line-height: 2; clear: both; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; position: relative; min-height: 28px; _height: 28px;
}
#showproduct .pshow dd li span {
	padding: 5px; left: 0px; top: 0px; height: 28px; color: rgb(153, 153, 153); position: absolute;
}
#showproduct .ctitle {
	background: url("../images/dt-7.gif") no-repeat left; margin: 15px 0px 10px; padding: 5px 20px; font-size: 14px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#showproduct .editor {
	padding: 0px 10px; line-height: 2; font-size: 14px;
}
#downloadlist {
	padding: 15px;
}
#downloadlist .metlist {
	margin-bottom: 20px;
}
#downloadlist dl.top dt a {
	color: rgb(255, 0, 0);
}
#downloadlist .metlist dt {
	background: url("../images/dt-9.gif") no-repeat 5px 11px; padding: 3px 5px 3px 20px; font-size: 14px; font-weight: bold; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
#downloadlist .metlist dd {
	background: rgb(248, 248, 248); padding: 5px 8px; color: rgb(153, 153, 153);
}
#downloadlist .metlist dd b {
	font-weight: normal;
}
#downloadlist .metlist dd div {
	float: right;
}
#downloadlist .metlist dd span {
	padding-right: 20px;
}
#downloadlist .metlist dd a {
	color: rgb(28, 87, 196); text-decoration: underline;
}
#downloadlist .metlist dd a.down {
	color: rgb(250, 26, 26); text-decoration: underline;
}
#showdownload {
	padding: 15px;
}
#showdownload h1.title {
	padding: 5px 0px; font-size: 18px; margin-bottom: 5px;
}
#showdownload .paralist {
	background: rgb(246, 246, 246); padding: 5px 10px;
}
#showdownload .paralist li {
	margin: 5px 0px; padding: 3px 5px 3px 0px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
#showdownload .paralist li a {
	color: rgb(255, 0, 0); text-decoration: underline;
}
#showdownload .paralist li span {
	padding: 0px 10px; text-align: left; margin-right: 5px; float: left;
}
#showdownload .editor {
	padding: 0px 10px; line-height: 2; font-size: 14px;
}
#showdownload .ctitle {
	background: url("../images/dt-7.gif") no-repeat left; margin: 15px 0px 10px; padding: 5px 20px; font-size: 14px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#imglist {
	padding: 15px 10px;
}
#imglist li {
	text-align: center; float: left; display: inline;
}
#imglist li a.img {
	font-size: 0px; display: block;
}
#imglist li a.img img {
	margin: auto; border: 1px solid rgb(204, 204, 204); border-image: none;
}
#imglist li h3 {
	padding: 5px 0px 10px; line-height: 1.5; font-weight: normal;
}
#showimg {
	padding: 15px;
}
#showimg h1.title {
	padding: 5px 0px; text-align: center; font-size: 18px; margin-bottom: 10px;
}
#showimg .imgshow {
	text-align: center;
}
#showimg .editor {
	padding: 0px 10px; line-height: 2; font-size: 14px;
}
.imgparalist li {
	background: url("../images/dt-0.gif") no-repeat 5px; padding: 3px 15px;
}
.imgparalist li span {
	color: rgb(153, 153, 153); margin-right: 10px; float: left;
}
#showimg .ctitle {
	background: url("../images/dt-7.gif") no-repeat left; margin: 10px 0px; padding: 5px 20px; font-size: 14px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#joblist {
	padding: 15px;
}
#joblist dl {
	padding: 0px 5px 15px; margin-bottom: 15px;
}
#joblist dt {
	padding: 5px 10px; font-size: 16px; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#joblist dd {
	padding: 0px 0px 5px;
}
#joblist dd .dtail {
	padding: 5px 10px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: dotted;
}
#joblist dd .dtail span {
	margin-right: 20px;
}
#joblist dd .dtail a {
	color: rgb(28, 87, 196);
}
#joblist dd .editor {
	padding: 5px;
}
#joblist dd .mis {
	padding: 5px 10px;
}
#joblist dd .mis span {
	color: rgb(153, 153, 153); margin-right: 15px;
}
#showjob {
	padding: 15px;
}
#showjob h1.title {
	padding: 5px 0px; font-size: 18px; margin-bottom: 5px;
}
#showjob .paralist li {
	background: url("../images/dt-0.gif") no-repeat 5px; padding: 3px 15px; width: 45%; float: left;
}
#showjob .paralist li span {
	color: rgb(153, 153, 153); margin-right: 10px; float: left;
}
#showjob .ctitle {
	background: url("../images/dt-7.gif") no-repeat left; margin: 10px 0px; padding: 5px 20px; font-size: 14px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#showjob .info_cv {
	margin: 10px 0px; text-align: center; font-size: 12px;
}
#showjob .editor {
	padding: 0px 10px; line-height: 2; font-size: 14px;
}
#cvlist {
	padding: 15px;
}
#messagelist {
	padding: 15px;
}
#messagelist .metlist {
	padding: 5px; border: 6px solid rgb(222, 222, 222); border-image: none; margin-bottom: 10px;
}
#messagelist .metlist dt {
	background: url("../images/message.gif") no-repeat left; padding: 4px 0px 4px 20px; margin-bottom: 5px; border-bottom-color: rgb(222, 222, 222); border-bottom-width: 1px; border-bottom-style: dotted;
}
#messagelist .metlist dt span.name {
	color: rgb(44, 113, 153);
}
#messagelist .metlist dt span.time {
	color: rgb(153, 153, 153); padding-left: 8px;
}
#messagelist .metlist dt span.tt {
	padding-right: 5px; float: right;
}
#messagelist .metlist dd.info span.tt {
	clear: both; display: none;
}
#messagelist .metlist dd.info span.text {
	padding: 8px 5px; line-height: 1.5; display: block;
}
#messagelist .metlist dd.reinfo span.tt {
	background: url("../images/admin.gif") no-repeat left 3px; margin: 0px 0px 5px; padding: 2px 0px 2px 20px; color: rgb(44, 113, 153); border-bottom-color: rgb(222, 222, 222); border-bottom-width: 1px; border-bottom-style: dotted; display: block;
}
#messagelist .metlist dd.reinfo span.text {
	padding: 8px 5px; line-height: 1.5; display: block;
}
#messagelist .ctitle {
	background: url("../images/dt-7.gif") no-repeat left; margin: 10px 0px; padding: 5px 20px; font-size: 14px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#messagelist table {
	margin: 0px auto;
}
#messagetable {
	padding: 15px;
}
#messagetable table {
	margin: 0px auto;
}
#feedback {
	padding: 15px;
}
#feedback table {
	margin: 0px auto;
}
#linklist {
	padding: 15px 15px 25px;
}
#linklist .ctitle {
	background: url("../images/dt-7.gif") no-repeat left; margin: 10px 0px; padding: 5px 20px; font-size: 14px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#linklist .inside {
	padding: 15px 0px 0px;
}
#linklist .metlist .img li {
	list-style: none; padding-right: 5px; display: inline;
}
#linklist .metlist .img img {
	width: 88px; height: 31px;
}
#linklist .metlist .txt li {
	list-style: none; width: 88px; height: 20px; line-height: 20px; overflow: hidden; margin-right: 5px; float: left;
}
#linksubmit {
	padding: 15px;
}
#linksubmit table {
	margin: 0px auto;
}
#memberbox {
	padding: 15px;
}
ul.searchnavlist {
	list-style: none; margin: 0px; padding: 0px;
}
ul.searchnavlist li {
	padding: 5px 0px;
}
#searchlist {
	padding: 15px;
}
#searchlist li {
	line-height: 1.5; padding-left: 10px; margin-bottom: 6px;
}
#searchlist ul {
	list-style: none; margin: 0px; padding: 0px;
}
#searchlist ul li {
	padding: 3px 5px; margin-bottom: 5px;
}
#searchlist ul li img {
	display: none;
}
#searchlist .search_title {
	padding: 2px 0px; display: block;
}
#searchlist .search_title a {
	color: rgb(17, 34, 204); font-size: 14px; text-decoration: underline;
}
#searchlist .search_title em {
	color: rgb(204, 0, 0); font-style: normal; text-decoration: underline;
}
#searchlist .search_detail {
	display: block;
}
#searchlist .search_detail a {
	color: rgb(17, 34, 204); text-decoration: underline;
}
#searchlist .search_content em {
	color: rgb(204, 0, 0); font-style: normal;
}
#searchlist .search_updatetime {
	color: green; margin-top: 5px; display: block;
}
#searchlist a:hover {
	text-decoration: underline;
}
#sitemaplist {
	padding: 15px;
}
#sitemaplist .sitemapclass {
	padding: 5px 0px;
}
#sitemaplist .sitemapclass1 {
	height: 28px; line-height: 28px; margin-bottom: 5px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
#sitemaplist .sitemapclass1 a {
	background: rgb(238, 238, 238); padding: 5px 10px;
}
#sitemaplist .sitemapclass2 {
	padding-top: 3px; padding-left: 15px;
}
#sitemaplist .sitemapclass2 h3 {
	background: url("../images/dt-0.gif") no-repeat left; padding: 2px 8px;
}
#sitemaplist .sitemapclass2 h3 a {
	color: rgb(68, 68, 68);
}
#sitemaplist .sitemapclass2 div {
	padding-left: 2px;
}
#sitemaplist .sitemapclass2 h4 {
	padding: 2px 6px; display: inline;
}
#sitemaplist .sitemapclass2 h4 a {
	color: rgb(44, 113, 153); text-decoration: underline;
}
.metpager_1 {
	text-align: center;
}
.metpager_2 {
	text-align: center;
}
.metpager_3 {
	text-align: center;
}
.digg4 {
	margin: 3px; padding: 3px; text-align: center; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
}
.digg4 a {
	margin: 2px; text-decoration: none;
}
.digg4 span.miy {
	margin: 2px; text-decoration: none;
}
.digg4 .disabledfy {
	font-family: Tahoma, Verdana;
}
.metpager_4 a {
	padding: 2px 5px; border: 1px solid rgb(170, 170, 221); border-image: none; color: rgb(0, 0, 153);
}
.metpager_4 span.miy {
	padding: 2px 5px; border: 1px solid rgb(170, 170, 221); border-image: none; color: rgb(0, 0, 153);
}
.metpager_4 a:hover {
	border: 1px solid rgb(0, 0, 153); border-image: none; color: rgb(0, 0, 0);
}
.metpager_4 a:active {
	border: 1px solid rgb(0, 0, 153); border-image: none; color: rgb(0, 0, 0);
}
.metpager_4 span.current {
	margin: 2px; padding: 2px 5px; border: 1px solid rgb(0, 0, 153); border-image: none; color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(0, 0, 153);
}
.metpager_4 span.disabled {
	margin: 2px; padding: 2px 5px; border: 1px solid rgb(238, 238, 238); border-image: none; color: rgb(221, 221, 221);
}
.metpager_5 a {
	padding: 2px 8px; border: 1px solid rgb(204, 219, 228); border-image: none; color: rgb(0, 97, 222);
}
.metpager_5 span.miy {
	padding: 2px 8px; border: 1px solid rgb(204, 219, 228); border-image: none; color: rgb(0, 97, 222);
}
.metpager_5 a:hover {
	border: 1px solid rgb(43, 85, 175); border-image: none; color: rgb(255, 255, 255); background-color: rgb(54, 102, 212);
}
.metpager_5 a:active {
	border: 1px solid rgb(0, 0, 153); border-image: none; color: rgb(0, 0, 0);
}
.metpager_5 span.current {
	margin: 2px; padding: 2px 8px; color: rgb(0, 0, 0); text-decoration: none;
}
.metpager_5 span.disabled {
	margin: 2px; padding: 2px 8px; border: 1px solid rgb(204, 219, 228); border-image: none; color: rgb(221, 221, 221);
}
.metpager_6 {
	color: rgb(255, 101, 0);
}
.metpager_6 a {
	background-position: 50% bottom; padding: 2px 7px; border: 1px solid rgb(255, 150, 0); border-image: none; color: rgb(255, 101, 0); background-image: url("../images/page/page6.jpg");
}
.metpager_6 span.miy {
	background-position: 50% bottom; padding: 2px 7px; border: 1px solid rgb(255, 150, 0); border-image: none; color: rgb(255, 101, 0); background-image: url("../images/page/page6.jpg");
}
.metpager_6 a:hover {
	border: 1px solid rgb(255, 150, 0); border-image: none; color: rgb(255, 101, 0); background-color: rgb(255, 199, 148);
}
.metpager_6 a:active {
	border: 1px solid rgb(255, 150, 0); border-image: none; color: rgb(255, 101, 0); background-color: rgb(255, 199, 148);
}
.metpager_6 span.current {
	margin: 2px; padding: 2px 7px; border: 1px solid rgb(255, 101, 0); border-image: none; color: rgb(255, 101, 0); text-decoration: none; background-color: rgb(255, 190, 148);
}
.metpager_6 span.disabled {
	margin: 2px; padding: 2px 7px; border: 1px solid rgb(255, 227, 198); border-image: none; color: rgb(255, 227, 198);
}
.metpager_7 a {
	background: url("../images/page7.gif") rgb(44, 44, 44); padding: 2px 5px; border: 1px solid rgb(44, 44, 44); border-image: none; color: rgb(255, 255, 255);
}
.metpager_7 span.miy {
	background: url("../images/page7.gif") rgb(44, 44, 44); padding: 2px 5px; border: 1px solid rgb(44, 44, 44); border-image: none; color: rgb(255, 255, 255);
}
.metpager_7 a:hover {
	background: url("../images/page7_2.gif") rgb(170, 216, 62); border: 1px solid rgb(170, 216, 62); border-image: none; color: rgb(255, 255, 255);
}
.metpager_7 a:active {
	border: 1px solid rgb(170, 216, 62); border-image: none; color: rgb(255, 255, 255);
}
.metpager_7 span.current {
	background: url("../images/page7_2.gif") rgb(170, 216, 62); margin: 2px; padding: 2px 5px; border: 1px solid rgb(170, 216, 62); border-image: none; color: rgb(255, 255, 255); text-decoration: none;
}
.metpager_7 span.disabled {
	margin: 2px; padding: 2px 5px; border: 1px solid rgb(243, 243, 243); border-image: none; color: rgb(204, 204, 204);
}
.metpager_8 a {
	padding: 2px 5px; border: 1px solid rgb(221, 221, 221); border-image: none; color: rgb(170, 170, 170);
}
.metpager_8 span.miy {
	padding: 2px 5px; border: 1px solid rgb(221, 221, 221); border-image: none; color: rgb(170, 170, 170);
}
.metpager_8 a:hover {
	border: 1px solid rgb(160, 160, 160); border-image: none;
}
.metpager_8 a:hover {
	border: 1px solid rgb(160, 160, 160); border-image: none;
}
.metpager_8 span.current {
	margin: 2px; padding: 2px 5px; border: 1px solid rgb(224, 224, 224); border-image: none; color: rgb(170, 170, 170); text-decoration: none; background-color: rgb(240, 240, 240);
}
.metpager_8 span.disabled {
	margin: 2px; padding: 2px 5px; border: 1px solid rgb(243, 243, 243); border-image: none; color: rgb(204, 204, 204);
}
.metpager_9 a {
	padding: 2px 5px; border: 1px solid rgb(221, 221, 221); border-image: none; color: rgb(136, 175, 63);
}
.metpager_9 span.miy {
	padding: 2px 5px; border: 1px solid rgb(221, 221, 221); border-image: none; color: rgb(136, 175, 63);
}
.metpager_9 a:hover {
	border: 1px solid rgb(133, 189, 30); border-image: none; color: rgb(99, 132, 37); background-color: rgb(241, 255, 214);
}
.metpager_9 a:hover {
	border: 1px solid rgb(133, 189, 30); border-image: none; color: rgb(99, 132, 37); background-color: rgb(241, 255, 214);
}
.metpager_9 span.current {
	margin: 2px; padding: 2px 5px; border: 1px solid rgb(178, 224, 93); border-image: none; color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(178, 224, 93);
}
.metpager_9 span.disabled {
	margin: 2px; padding: 2px 5px; border: 1px solid rgb(243, 243, 243); border-image: none; color: rgb(204, 204, 204);
}
